body,html {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

.border-radius {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
}