body,html {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

#main-container {
    margin-top: 50px;
}

.border-radius {
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
}